
<!--
<div *ngFor="let product of products">
  <h1>{{ product.name }}</h1>
  <p>{{ product.price | currency}}</p>
</div> -->

<div class="cart-container">
  <p *ngFor="let item of cartItems">
    {{ item.name }}
  </p>
</div>

<div class="products-container">
  <div class="product" *ngFor="let product of products">
    <img [src]="product.img" alt="product-img">
    <h2>{{ product.name }}</h2>
    <p>Price: {{ product.price }}</p>
    <button (click)="addItem(product)">Buy</button>
  </div>
</div>
