/* You can add global styles to this file, and also import other style files */
* { 
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

html {
    margin: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}