
$accent: #FFA300;


.nav-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    background-color: #f5fcff;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 2;
    nav {
        padding: 8px 60px;
        color: black;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            color: $accent;
        }

        a.nav-brand {
            font-size: 1.5rem;
        }

        ul.nav-links {
            padding: 0;
            max-height: 70%;
            display: flex;

            list-style: none;

            .nav-item {
                position: relative;

                font-size: 1.2rem;
                margin-right: 40px;

                #cart-counter {
                    pointer-events: none;
                    color: white;
                    text-align: center;
                    line-height: 25px;
                    position: absolute;
                    top: -55%;
                    right: -55%;
                    font-size: 15px;
                    background-color: #f64c3c;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                }

            }

            :last-child {
                margin: 0;
            }

            

        }

    }

}



#cart-btn {
    background: none;
    border: none;
}

.cart-container {
    position: absolute;
    top: 60%;
    right: 50px;
    animation: 0.2s fade ease-in;

}

#cart-window {
    position: sticky; 

    width: 400px;
    padding: 20px;
    min-height: 100px;
    background-color: #9ebad8;
    color: white;
    clip-path: polygon(95% 0, 97% 6%, 100% 6%, 100% 100%, 0 100%, 0 6%, 93% 6%);
    border-radius: 0.3rem;
    z-index: 2;
    max-height: 480px;


    ul.cart-items {
        background-color: #6b88a5;
        padding: 10px;
        list-style: none;
        height: 280px;
        overflow-y: scroll;

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            animation: 0.5s move-left-right;
            padding: 8px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.445);
            padding-right: 10px;

            .left {
                display: flex;
                width: 250px;
            }

            .item-img {
                align-self: center;
                width: 80px;
                height: 80px;
                border-radius: 0.3rem;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-left: 10px;

                
                .item-name {
                    font-weight: bold;
                }

                .item-price {

                }
                
            }

            .control-block {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;

                a {
                    background-color: white;
                    color: black;
                    font-size: 0.6rem;
                    line-height: 1rem;
                    text-align: center;
                    width: 17px;
                    height: 17px;
                    border-radius: 0.3rem;
                    transition: 0.1s ease;
                }

                a:hover {
                    background-color: $accent;
                    transform: scale(1.1);
                }

                a:active {
                    transform: scale(0.9);
                }

                p {
                    margin: 9px;
                }


            }

        }
    
    }

}

.cart-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.445);
    background-color: #35495e;
    padding: 15px 0 0;
    height: 50px;
}

#checkout-btn {
    text-align: center;
    background-image: linear-gradient(to bottom, #ffc766 0%, $accent 100%);
    color: rgb(29, 29, 29);
    width: 100px;
    border-radius: 0.3rem;
    padding: 10px;
    transition: 0.2s ease-in;
}

#checkout-btn:hover {
    transform: translateY(-3px);
}

@keyframes move-left-right {
    from {
        opacity: 0;
        left: -30px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes fade {
    from {
        top: 50%;
        opacity: 0;
    }
    to {
        top: 70%;
        opacity: 1;
    }
}